@fontface {
  font-family: 'Lato', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Lato&display=swap')
}


body {
  font-family: 'Lato', sans-serif;
  position: relative;


}


.hidden_1 {

visibility: hidden;

}




.fon888 {

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #498CEC;
border: 1px solid #979797;
box-sizing: border-box;

}






.zag111 {

position: absolute;
height: 48px;
left: 101px;
right: 125px;
top: calc(50% - 48px/2 + 86px);

font-family: 'Lato';
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 30px;
text-align: center;
color: #FFFFFF;

}



.fon_main {

  height: 1024px;
  width: 1366px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;  
  background: #498CEC;
  border: 1px solid #979797;
  box-sizing: border-box;

  

}




.city_menu {


/* город */


position: absolute;
left: 7.25%;
right: 65.08%;
top: 7.32%;
bottom: 83.4%;

}

.city_name {

/* Омск */


position: absolute;
left: 0%;
right: 66.93%;
top: 0%;
bottom: 36.84%;

font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 60px;
/* identical to box height */


color: #FFFFFF;

}


.change_city {

  position: absolute;
  left: 0.53%;
  right: 64.55%;
  top: 72.63%;
  bottom: 4.21%;
  
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  
  
  color: #FFFFFF;
  
  mix-blend-mode: normal;
  opacity: 0.6;

}


.current_location {

/* Мое местоположение */


position: absolute;
left: 51.06%;
right: 0%;
top: 72.63%;
bottom: 4.21%;

font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.6;

}



.location_logo_parent {


/* location */


position: absolute;
left: 42.06%;
right: 50%;
top: 68.42%;
bottom: 0%;



}




.location_logo_child {

/* Path 2 */


position: absolute;
left: 26.29%;
right: 24.13%;
top: 10%;
bottom: 22.08%;


transform: rotate(11deg);
background-image: url(./img/location_pic.png);

}







.tablo_vvod_forma {

  position: absolute;
  left: 7.03%;
  right: 50.59%;
  top: 7.91%;
  bottom: 82.62%; 
  height: 97px;
  width: 579px;
  border-radius: 8px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;



}

/* Петропавловск Камчат */
.tablo_vvod_text {
  
  position: absolute;
  left: 5.53%;
  right: 24.01%;
  top: 31.96%;
  bottom: 30.93%;  
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;  
  color: #000000;
  border: none;

}


/* OK */
.tablo_vvod_knopka {

  position: absolute;
  left: 87.05%;
  right: 5.18%;
  top: 32.99%;
  bottom: 29.9%;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;  
  background: none;
  color: #1086FF;
  border: none;

  cursor: pointer;
  

}

.pogoda_komment_logo {

  position: absolute;
  width: 200px;
  height: 200px;
  left: calc(50% - 200px/2 - 123px);
  top: calc(50% - 200px/2 - 48px);

}

/* 19º */
.pogoda_komment_gradusy {


  height: 208px;
  width: 1190px;
  position: absolute;
  left: 101px;
  right: 75px;
  top: calc(50% - 208px/2 - 52px);
  
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 180px;
  line-height: 216px;
  text-align: center;  
  color: #FFFFFF;

}


/* Преимущественно */
.pogoda_komment_text {

  height: 48px;
  width: 1140px;
  position: absolute;
  height: 48px;
  left: 101px;
  right: 125px;
  top: calc(50% - 48px/2 + 86px);
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  font-family: 'Lato', sans-serif;  
  color: #FFFFFF;
  border-radius: none;
  
}


/* Ветер */
.veter {

position: absolute;
height: 22px;
left: 7.39%;
right: 88.95%;
top: calc(50% - 22px/2 + 339px);
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
font-family: 'Lato', sans-serif;  
color: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.6;


}

/* 5 м/c, западный */
.veter_komment {

width: 700;
position: absolute;
height: 30px;
left: 7.39%;
right: 79.06%;
top: calc(50% - 30px/2 + 375px);
font-family: 'Lato', sans-serif;  
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 30px;
color: #FFFFFF;

}

/* Давление */
.davlenie {

  position: absolute;
  width: 83px;
  height: 22px;
  left: 30.23%;
  right: 63.69%;
  top: calc(50% - 22px/2 + 339px);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;  
  color: #FFFFFF;  
  mix-blend-mode: normal;
  opacity: 0.6;
  font-family: 'Lato', sans-serif;   
  
  }
  
  /* 752 мм рт. ст. */
  .davlenie_komment {  
  
    position: absolute;
    height: 30px;
    left: 30.23%;
    right: 58.13%;
    top: calc(50% - 30px/2 + 375px);
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;    
    color: #FFFFFF;
      width: 159px;
      font-family: 'Lato', sans-serif;
  
  }




  /* Влажность */
.vlaga {

  position: absolute;
  height: 22px;
  left: 53.51%;
  right: 39.75%;
  top: calc(50% - 22px/2 + 339px);  
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;  
  color: #FFFFFF;  
  mix-blend-mode: normal;
  opacity: 0.6; 

    width: 92px;
    font-family: 'Lato', sans-serif;   
  
  }
  
  /* 60% */
  .vlaga_komment {  
  
    position: absolute;
    height: 30px;
    left: 53.51%;
    right: 42.83%;
    top: calc(50% - 30px/2 + 375px);    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;    
    color: #FFFFFF;

      width: 50px;
      font-family: 'Lato', sans-serif;
  
  }







  /* Вероятность дождя */
  .rain {

    position: absolute;
    height: 22px;
    left: 74.3%;
    right: 13.54%;
    top: calc(50% - 22px/2 + 339px);    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;    
    color: #FFFFFF;    
    mix-blend-mode: normal;
    opacity: 0.6;  
  
      width: 166px;
      font-family: 'Lato', sans-serif;   
    
    }
    
    /* 60% */
    .rain_komment {  
    
      position: absolute;
      height: 30px;
      left: 74.3%;
      right: 22.04%;
      top: calc(50% - 30px/2 + 375px);      
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 30px;     
      color: #FFFFFF;      
  
        width: 50px;
        font-family: 'Lato', sans-serif;

    }


/* forma_knopka_g_f */
.forma_knopka_g_f {

position: absolute;
left: 88.87%;
right: 5.49%;
top: 7.91%;
bottom: 89.26%;
mix-blend-mode: normal;
opacity: 0.4;
border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 8px;

}




/* knopka_g_f_ACTIVE */
.knopka_g_f_ACTIVE {

position: absolute;
left: 88.87%;
right: 8.33%;
top: 7.91%;
bottom: 89.26%;
background: rgba(255, 255, 255, 0.2);

}



/* knopka_g_f_ACTIVE */
.knopka_g_f_ACTIVE {

  position: absolute;
  left: 88.87%;
  right: 8.33%;
  top: 7.91%;
  bottom: 89.26%;  
  background: rgba(255, 255, 255, 0.2);

  }




  /* С */

.text_c_on {


  position: absolute;
  height: 22px;
  left: 89.9%;
  right: 9.15%;
  top: calc(50% - 22px/2 - 416px);  
   font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;  
  color: #FFFFFF;

  opacity: 1; /* Меняем тут прозрачность */      

}



  /* С */

  .text_c_off {


    position: absolute;
    height: 22px;
    left: 89.9%;
    right: 9.15%;
    top: calc(50% - 22px/2 - 416px);  
     font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;  
    color: #FFFFFF;
  
    opacity: 0.4; /* Меняем тут прозрачность */      
  
  }







    /* F */
    .text_f_on {
      
      position: absolute;
      height: 22px;
      left: 92.68%;
      right: 6.52%;
      top: calc(50% - 22px/2 - 416px);
      
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      /* identical to box height */
      
      
      color: #FFFFFF;
      
      mix-blend-mode: normal;
      opacity: 1; /* Меняем тут прозрачность */      
      
      }


          /* F */
    .text_f_off {
      
      position: absolute;
      height: 22px;
      left: 92.68%;
      right: 6.52%;
      top: calc(50% - 22px/2 - 416px);
      
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      /* identical to box height */
      
      
      color: #FFFFFF;
      
      mix-blend-mode: normal;
      opacity: 0.4; /* Меняем тут прозрачность */      
      
      }






/* º */
.C_F_text {
position: absolute;
height: 22px;
left: 87.63%;
right: 11.79%;
top: calc(50% - 22px/2 - 416px);
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.4;

}


.gradus {

/* º */


position: absolute;
height: 22px;
left: 87.63%;
right: 11.79%;
top: calc(50% - 22px/2 - 416px);

font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.4;

}


.group_2{

/* Group 2 */

position: absolute;
left: 87.63%;
right: 5.49%;
top: 7.91%;
bottom: 89.26%;

}



.Rectangle_2_blur_on{

/* Rectangle 2 */


position: absolute;
left: 88.87%;
right: 8.33%;
top: 7.91%;
bottom: 89.26%;

background: rgba(255, 255, 255, 0.2);

border-top-left-radius: 8px;
border-bottom-left-radius: 8px;

cursor: pointer;

}


.Rectangle_2_blur_off{

  /* Rectangle 2 */
  
  
  position: absolute;
  left: 88.87%;
  right: 8.33%;
  top: 7.91%;
  bottom: 89.26%;
 

  
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  
  cursor: pointer;
  
  }









/* Rectangle */

.Rectangle{

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #498CEC;
border: 1px solid #979797;
box-sizing: border-box;

}



.Rectangle_3_blur_on{

  /* Rectangle 3 */
  
  
  position: absolute;
  left: 91.73%;
  right: 5.47%;
  top: 7.91%;
  bottom: 89.26%;
  
  background: rgba(255, 255, 255, 0.2);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  cursor: pointer;
  
  }


  .Rectangle_3_blur_off{

    /* Rectangle 3 */
    
    
    position: absolute;
    left: 91.73%;
    right: 5.47%;
    top: 7.91%;
    bottom: 89.26%;
  
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    cursor: pointer;
    
    }









  .knopka_test{

 
  color: wheat;  
    
  
    
    }



    

  .knopka_test_2{

 
    color: red;  
      
    
      
      }